
# do not include compilation results
/target/

# David put resulting jar into this directory to test directly from eclipse
/plugins/

# configuration files of eclipse EDI
/.classpath
/.project
/.settings/

/javadoc.xml
/doc/MorphoLibJ-manual/*.pdf
