###
# #%L
# Mathematical morphology library and plugins for ImageJ/Fiji.
# %%
# Copyright (C) 2014 - 2017 INRA.
# %%
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Lesser General Public License as
# published by the Free Software Foundation, either version 3 of the
# License, or (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Lesser Public License for more details.
# 
# You should have received a copy of the GNU General Lesser Public
# License along with this program.  If not, see
# <http://www.gnu.org/licenses/lgpl-3.0.html>.
# #L%
###

# Configuration file for the ImageJ library "MorphoLibJ"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

# List of entries for Analyze sub-menu
#Plugins>MorphoLibJ>Analyze, "Region Morphometry", inra.ijpb.plugins.RegionMorphometryPlugin
Plugins>MorphoLibJ>Analyze, "Analyze Regions", inra.ijpb.plugins.AnalyzeRegions
Plugins>MorphoLibJ>Analyze, "Bounding Box", inra.ijpb.plugins.BoundingBoxPlugin
Plugins>MorphoLibJ>Analyze, "Inertia Ellipse", inra.ijpb.plugins.InertiaEllipsePlugin
Plugins>MorphoLibJ>Analyze, "Max. Feret Diameters", inra.ijpb.plugins.MaxFeretDiameterPlugin
Plugins>MorphoLibJ>Analyze, "Oriented Bounding Box", inra.ijpb.plugins.OrientedBoundingBoxPlugin
Plugins>MorphoLibJ>Analyze, "Max. Inscribed Circle", inra.ijpb.plugins.MaxInscribedCirclePlugin
Plugins>MorphoLibJ>Analyze, "Geodesic Diameter", inra.ijpb.plugins.GeodesicDiameterPlugin
Plugins>MorphoLibJ>Analyze, "-"
Plugins>MorphoLibJ>Analyze, "Analyze Regions 3D", inra.ijpb.plugins.AnalyzeRegions3D
#Plugins>MorphoLibJ>Analyze, "Particle Analysis 3D", inra.ijpb.plugins.ParticleAnalysis3DPlugin
Plugins>MorphoLibJ>Analyze, "Bounding Box 3D", inra.ijpb.plugins.BoundingBox3DPlugin
#Plugins>MorphoLibJ>Analyze, "Inertia Ellipsoid", inra.ijpb.plugins.InertiaEllipsoidPlugin
Plugins>MorphoLibJ>Analyze, "Equivalent Ellipsoid", inra.ijpb.plugins.EquivalentEllipsoidPlugin
Plugins>MorphoLibJ>Analyze, "Max. Inscribed Sphere", inra.ijpb.plugins.MaxInscribedSpherePlugin
Plugins>MorphoLibJ>Analyze, "Geodesic Diameter 3D", inra.ijpb.plugins.GeodesicDiameter3DPlugin
Plugins>MorphoLibJ>Analyze, "-"
Plugins>MorphoLibJ>Analyze, "Intensity Measurements 2D/3D", inra.ijpb.plugins.IntensityMeasures3D
Plugins>MorphoLibJ>Analyze, "Microstructure Analysis", inra.ijpb.plugins.MicrostructureAnalysisPlugin
Plugins>MorphoLibJ>Analyze, "Microstructure 3D", inra.ijpb.plugins.AnalyzeMicrostructure3D
Plugins>MorphoLibJ>Analyze, "Region Adjacency Graph", inra.ijpb.plugins.RegionAdjacencyGraphPlugin
Plugins>MorphoLibJ>Analyze, "Label Overlap Measures", inra.ijpb.plugins.LabelOverlapMeasures

# List of entries for Segmentation sub-menu
Plugins>MorphoLibJ>Segmentation, "Classic Watershed", inra.ijpb.plugins.Watershed3DPlugin
Plugins>MorphoLibJ>Segmentation, "Marker-controlled Watershed", inra.ijpb.plugins.MarkerControlledWatershed3DPlugin
Plugins>MorphoLibJ>Segmentation, "Interactive Marker-controlled Watershed", inra.ijpb.plugins.InteractiveMarkerControlledWatershed
Plugins>MorphoLibJ>Segmentation, "Morphological Segmentation", inra.ijpb.plugins.MorphologicalSegmentation

# List of entries for binary images sub-menu
Plugins>MorphoLibJ>Binary Images, "Connected Components Labeling", inra.ijpb.plugins.LabelingPlugin
Plugins>MorphoLibJ>Binary Images, "Chamfer Distance Map", inra.ijpb.plugins.ChamferDistanceMapPlugin
Plugins>MorphoLibJ>Binary Images, "Distance Transform Watershed", inra.ijpb.plugins.DistanceTransformWatershed
Plugins>MorphoLibJ>Binary Images, "Geodesic Distance Map", inra.ijpb.plugins.GeodesicDistanceMapPlugin
Plugins>MorphoLibJ>Binary Images, "Interactive Geodesic Distance Map", inra.ijpb.plugins.InteractiveGeodesicDistanceMap
Plugins>MorphoLibJ>Binary Images, "Chamfer Distance Map 3D", inra.ijpb.plugins.ChamferDistanceMap3DPlugin
Plugins>MorphoLibJ>Binary Images, "Geodesic Distance Map 3D", inra.ijpb.plugins.GeodesicDistanceMap3DPlugin
Plugins>MorphoLibJ>Binary Images, "Distance Transform Watershed 3D", inra.ijpb.plugins.DistanceTransformWatershed3D
Plugins>MorphoLibJ>Binary Images, "-"
Plugins>MorphoLibJ>Binary Images, "Remove Largest Region", inra.ijpb.plugins.RemoveLargestRegionPlugin
Plugins>MorphoLibJ>Binary Images, "Keep Largest Region", inra.ijpb.plugins.KeepLargestRegionPlugin
Plugins>MorphoLibJ>Binary Images, "Area Opening", inra.ijpb.plugins.AreaOpeningPlugin
Plugins>MorphoLibJ>Binary Images, "Size Opening 2D/3D", inra.ijpb.plugins.SizeOpeningPlugin

# List of entries for label images sub-menu
Plugins>MorphoLibJ>Label Images, "Set Label Map", inra.ijpb.plugins.SetLabelMapPlugin
Plugins>MorphoLibJ>Label Images, "Labels To RGB", inra.ijpb.plugins.LabelToRgbPlugin
Plugins>MorphoLibJ>Label Images, "Label Boundaries", inra.ijpb.plugins.LabelBoundariesPlugin
Plugins>MorphoLibJ>Label Images, "-"
Plugins>MorphoLibJ>Label Images, "Label Edition", inra.ijpb.plugins.LabelEdition
Plugins>MorphoLibJ>Label Images, "Remove Border Labels", inra.ijpb.plugins.RemoveBorderLabelsPlugin
Plugins>MorphoLibJ>Label Images, "Replace/Remove Label(s)", inra.ijpb.plugins.ReplaceLabelValuesPlugin
Plugins>MorphoLibJ>Label Images, "Select Label(s)", inra.ijpb.plugins.SelectLabelsPlugin
Plugins>MorphoLibJ>Label Images, "Crop Label", inra.ijpb.plugins.CropLabelPlugin
Plugins>MorphoLibJ>Label Images, "Remap Labels", inra.ijpb.plugins.RemapLabelsPlugin
Plugins>MorphoLibJ>Label Images, "Expand Labels", inra.ijpb.plugins.ExpandLabelsPlugin
Plugins>MorphoLibJ>Label Images, "-"
Plugins>MorphoLibJ>Label Images, "Remove Largest Label", inra.ijpb.plugins.RemoveLargestLabelPlugin
Plugins>MorphoLibJ>Label Images, "Keep Largest Label", inra.ijpb.plugins.KeepLargestLabelPlugin
Plugins>MorphoLibJ>Label Images, "Label Size Opening", inra.ijpb.plugins.LabelAreaOpeningPlugin
Plugins>MorphoLibJ>Label Images, "-"
Plugins>MorphoLibJ>Label Images, "Assign Measure to Label", inra.ijpb.plugins.LabelToValuePlugin

# List of entries for minima and maxima management
Plugins>MorphoLibJ>Minima and Maxima, "Regional Min & Max", inra.ijpb.plugins.RegionalMinAndMaxPlugin
Plugins>MorphoLibJ>Minima and Maxima, "Extended Min & Max", inra.ijpb.plugins.ExtendedMinAndMaxPlugin
Plugins>MorphoLibJ>Minima and Maxima, "Impose Min & Max", inra.ijpb.plugins.ImposeMinAndMaxPlugin
Plugins>MorphoLibJ>Minima and Maxima, "-"
Plugins>MorphoLibJ>Minima and Maxima, "Regional Min & Max 3D", inra.ijpb.plugins.RegionalMinAndMax3DPlugin
Plugins>MorphoLibJ>Minima and Maxima, "Extended Min & Max 3D", inra.ijpb.plugins.ExtendedMinAndMax3DPlugin
Plugins>MorphoLibJ>Minima and Maxima, "Impose Min & Max 3D", inra.ijpb.plugins.ImposeMinAndMax3DPlugin

# List of entries without sub-menu
Plugins>MorphoLibJ, "-"
Plugins>MorphoLibJ, "Morphological Filters", inra.ijpb.plugins.MorphologicalFilterPlugin("run")
Plugins>MorphoLibJ, "Morphological Filters (3D)", inra.ijpb.plugins.MorphologicalFilter3DPlugin("run")
Plugins>MorphoLibJ, "Directional Filtering", inra.ijpb.plugins.DirectionalFilteringPlugin("run")
Plugins>MorphoLibJ, "Morphological Reconstruction", inra.ijpb.plugins.MorphologicalReconstructionPlugin
Plugins>MorphoLibJ, "Interactive Morphological Reconstruction", inra.ijpb.plugins.InteractiveMorphologicalReconstruction
Plugins>MorphoLibJ, "Morphological Reconstruction 3D", inra.ijpb.plugins.MorphologicalReconstruction3DPlugin
Plugins>MorphoLibJ, "Interactive Morphological Reconstruction 3D", inra.ijpb.plugins.InteractiveMorphologicalReconstruction3D
Plugins>MorphoLibJ, "Gray Scale Attribute Filtering", inra.ijpb.plugins.GrayscaleAttributeFilteringPlugin("run")
#Plugins>MorphoLibJ, "Gray Scale Area Opening", inra.ijpb.plugins.GrayscaleAreaOpeningPlugin
#Plugins>MorphoLibJ, "Gray Scale Box Diameter Opening", inra.ijpb.plugins.GrayscaleBoxDiameterOpeningPlugin
Plugins>MorphoLibJ, "Gray Scale Attribute Filtering 3D", inra.ijpb.plugins.GrayscaleAttributeFiltering3D
#Plugins>MorphoLibJ, "Gray Scale Area Opening (Naive)", inra.ijpb.plugins.GrayscaleAreaOpeningNaivePlugin
Plugins>MorphoLibJ, "Kill Borders", inra.ijpb.plugins.KillBordersPlugin
Plugins>MorphoLibJ, "Fill Holes (Binary/Gray)", inra.ijpb.plugins.FillHolesPlugin
Plugins>MorphoLibJ, "-"
Plugins>MorphoLibJ, "Extend Image Borders", inra.ijpb.plugins.ExtendBordersPlugin
Plugins>MorphoLibJ, "Binary Overlay", inra.ijpb.plugins.BinaryOverlayPlugin
Plugins>MorphoLibJ, "Draw Table Values", inra.ijpb.plugins.DrawTableValuesPlugin


Help>About Plugins, "MorphoLibJ...", inra.ijpb.plugins.MorphologicalFilterPlugin("about")
