# Configuration file for ImageJ plugin "Fast Morphology"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>Fast Morphology, "Morphological Filters", inra.ijpb.plugins.MorphologicalFilterPlugin("run")
Plugins>Fast Morphology, "Morphological Filters 3D", inra.ijpb.plugins.MorphologicalFilter3DPlugin("run")
Plugins>Fast Morphology, "Chamfer Distance Map", inra.ijpb.plugins.ChamferDistanceMapPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Geodesic Reconstruction", inra.ijpb.plugins.GeodesicReconstructionPlugin
Plugins>Fast Morphology, "Regional Min & Max", inra.ijpb.plugins.RegionalMinAndMaxPlugin
Plugins>Fast Morphology, "Extended Min & Max", inra.ijpb.plugins.ExtendedMinAndMaxPlugin
Plugins>Fast Morphology, "Impose Min & Max", inra.ijpb.plugins.ImposeMinAndMaxPlugin
Plugins>Fast Morphology, "Kill Borders", inra.ijpb.plugins.KillBordersPlugin
Plugins>Fast Morphology, "Fill Holes (Binary/Gray)", inra.ijpb.plugins.FillHolesPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Geodesic Reconstruction 3D", inra.ijpb.plugins.GeodesicReconstruction3DPlugin
Plugins>Fast Morphology, "Regional Min & Max 3D", inra.ijpb.plugins.RegionalMinAndMax3DPlugin
Plugins>Fast Morphology, "Extended Min & Max 3D", inra.ijpb.plugins.ExtendedMinAndMax3DPlugin
Plugins>Fast Morphology, "Impose Min & Max 3D", inra.ijpb.plugins.ImposeMinAndMax3DPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Extend Image Borders", inra.ijpb.plugins.ExtendBordersPlugin
Plugins>Fast Morphology, "Binary Overlay", inra.ijpb.plugins.BinaryOverlayPlugin

Plugins>Fast Morphology>Binary Images, "Components Labeling", inra.ijpb.plugins.LabelingPlugin
Plugins>Fast Morphology>Binary Images, "Remove Largest Region", inra.ijpb.plugins.RemoveLargestRegionPlugin
Plugins>Fast Morphology>Binary Images, "Keep Largest Region", inra.ijpb.plugins.KeepLargestRegionPlugin

Plugins>Fast Morphology>Label Images, "Set Label Map", inra.ijpb.plugins.SetLabelMapPlugin
Plugins>Fast Morphology>Label Images, "Labels To RGB", inra.ijpb.plugins.LabelToRgbPlugin
Plugins>Fast Morphology>Label Images, "Label Boundaries", inra.ijpb.plugins.LabelBoundariesPlugin
Plugins>Fast Morphology>Label Images, "-"
Plugins>Fast Morphology>Label Images, "Remove Border Labels", inra.ijpb.plugins.RemoveBorderLabelsPlugin
Plugins>Fast Morphology>Label Images, "Remove Largest Label", inra.ijpb.plugins.RemoveLargestLabelPlugin
Plugins>Fast Morphology>Label Images, "Keep Largest Label", inra.ijpb.plugins.KeepLargestLabelPlugin
Plugins>Fast Morphology>Label Images, "Replace Value", inra.ijpb.plugins.ReplaceValuePlugin

Plugins>Analyze, "Area & Perimeter", inra.ijpb.plugins.Crofton_Perimeter
Plugins>Analyze, "Porosity & Perim. Density", inra.ijpb.plugins.Crofton_Densities
Plugins>Analyze, "-"
Plugins>Analyze, "Geometric Measures 3D", inra.ijpb.plugins.Geometric_Measures_3D
Plugins>Analyze, "Inertia Ellipsoid", inra.ijpb.plugins.InertiaEllipsoidPlugin
Plugins>Analyze, "Bounding Box 3D", inra.ijpb.plugins.BoundingBox3DPlugin
Plugins>Analyze, "Measure 3D", inra.ijpb.plugins.Measure3DPlugin

Plugins>Segmentation, "Classic Watershed", inra.ijpb.plugins.Watershed3DPlugin
Plugins>Segmentation, "Marker-controlled Watershed", inra.ijpb.plugins.MarkerControlledWatershed3DPlugin
Plugins>Segmentation, "Morphological Segmentation", inra.ijpb.plugins.MorphologicalSegmentation


Help>About Plugins, "Morphological Filters...", inra.ijpb.plugins.MorphologicalFilterPlugin("about")
