# Configuration file for ImageJ plugin "Fast Morphology"
#
# comments starts with #
# Each entry is menuname, "Command text", classname

Plugins>Fast Morphology, "Morphological Filters", inra.ijpb.morphology.MorphologicalFilterPlugin("run")
Plugins>Fast Morphology, "Morphological Filters 3D", inra.ijpb.morphology.MorphologicalFilter3DPlugin("run")
Plugins>Fast Morphology, "Chamfer Distance Map", inra.ijpb.binary.distmap.ChamferDistanceMapPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Geodesic Reconstruction", inra.ijpb.morphology.GeodesicReconstructionPlugin
Plugins>Fast Morphology, "Regional Min & Max", inra.ijpb.morphology.RegionalMinAndMaxPlugin
Plugins>Fast Morphology, "Extended Min & Max", inra.ijpb.morphology.ExtendedMinAndMaxPlugin
Plugins>Fast Morphology, "Impose Min & Max", inra.ijpb.morphology.ImposeMinAndMaxPlugin
Plugins>Fast Morphology, "Kill Borders", inra.ijpb.morphology.KillBordersPlugin
Plugins>Fast Morphology, "Fill Holes (Binary/Gray)", inra.ijpb.morphology.FillHolesPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Geodesic Reconstruction 3D", inra.ijpb.morphology.GeodesicReconstruction3DPlugin
Plugins>Fast Morphology, "Regional Min & Max 3D", inra.ijpb.morphology.RegionalMinAndMax3DPlugin
Plugins>Fast Morphology, "Extended Min & Max 3D", inra.ijpb.morphology.ExtendedMinAndMax3DPlugin
Plugins>Fast Morphology, "Impose Min & Max 3D", inra.ijpb.morphology.ImposeMinAndMax3DPlugin
Plugins>Fast Morphology, "-"
Plugins>Fast Morphology, "Extend Image Borders", inra.ijpb.filter.border.ExtendBordersPlugin
Plugins>Fast Morphology, "Binary Overlay", inra.ijpb.binary.BinaryOverlayPlugin
Plugins>Fast Morphology>Label Images, "Components Labeling", inra.ijpb.morphology.LabelingPlugin
Plugins>Fast Morphology>Label Images, "Set Label Map", inra.ijpb.morphology.SetLabelMapPlugin
Plugins>Fast Morphology>Label Images, "Labels To RGB", inra.ijpb.morphology.LabelToRgbPlugin

Help>About Plugins, "Morphological Filters...", inra.ijpb.morphology.MorphologicalFilterPlugin("about")
